.elementor-109 .elementor-element.elementor-element-e29145a>.elementor-container {
    max-width: 1335px;
}

.elementor-109 .elementor-element.elementor-element-e29145a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 1;
}

.elementor-109 .elementor-element.elementor-element-e29145a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-109 .elementor-element.elementor-element-10ef600>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-bce7109>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-109 .elementor-element.elementor-element-bce7109 {
    border-style: none;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-bce7109>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-109 .elementor-element.elementor-element-74c77bb:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #d84d1b;
}

.elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-element-populated {
    border-style: none;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 35px 0px 35px 0px;
}

.elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-element-populated,
.elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-element-populated>.elementor-background-overlay,
.elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-background-slideshow {
    border-radius: 10px 0px 0px 10px;
}

.elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-109 .elementor-element.elementor-element-50beb93 .hfe-site-logo {
    text-align: center;
}

.elementor-109 .elementor-element.elementor-element-50beb93 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-109 .elementor-element.elementor-element-50beb93 .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-109 .elementor-element.elementor-element-50beb93>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
    border-style: none;
}

.elementor-bc-flex-widget .elementor-109 .elementor-element.elementor-element-66b4c68.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-109 .elementor-element.elementor-element-66b4c68.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-109 .elementor-element.elementor-element-66b4c68.elementor-column>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-109 .elementor-element.elementor-element-66b4c68:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1F1F1F;
}

.elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-element-populated {
    border-style: none;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 35px 40px 35px 50px;
}

.elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-element-populated,
.elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-element-populated>.elementor-background-overlay,
.elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-background-slideshow {
    border-radius: 0px 10px 10px 0px;
}

.elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-109 .elementor-element.elementor-element-13e7f64 .rt-features-list-content ul li .sub-text {
    padding: 0px 0px 05px 0px;
}

.elementor-109 .elementor-element.elementor-element-13e7f64 .rt-features-list-content ul li .text-heading {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.elementor-109 .elementor-element.elementor-element-13e7f64 .rt-features-list-content ul li .text-heading:hover {
    color: #d84d1b;
}

.elementor-109 .elementor-element.elementor-element-13e7f64 .rt-features-list-content ul {
    justify-content: left;
}

.elementor-109 .elementor-element.elementor-element-13e7f64 .rt-features-list-content ul li .icon i {
    color: #FFFFFF;
    background-color: #282828;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
}

.elementor-109 .elementor-element.elementor-element-13e7f64 .rt-features-list-content ul li .icon svg {
    fill: #FFFFFF;
}

.elementor-109 .elementor-element.elementor-element-13e7f64 .rt-features-list .icon svg {
    width: 16px;
    height: 16px;
}

.elementor-109 .elementor-element.elementor-element-13e7f64 .rt-features-list .icon i {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.elementor-109 .elementor-element.elementor-element-13e7f64 .rt-features-list-content ul li .icon {
    padding: 0px 15px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-13e7f64 {
    width: auto;
    max-width: auto;
}

.elementor-109 .elementor-element.elementor-element-13e7f64>.elementor-widget-container {
    border-style: none;
}

.elementor-109 .elementor-element.elementor-element-1010244 .rt-features-list-content ul li .sub-text {
    padding: 0px 0px 05px 0px;
}

.elementor-109 .elementor-element.elementor-element-1010244 .rt-features-list-content ul li .text-heading {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.elementor-109 .elementor-element.elementor-element-1010244 .rt-features-list-content ul li .text-heading:hover {
    color: #d84d1b;
}

.elementor-109 .elementor-element.elementor-element-1010244 .rt-features-list-content ul {
    justify-content: left;
}

.elementor-109 .elementor-element.elementor-element-1010244 .rt-features-list-content ul li .icon i {
    color: #FFFFFF;
    background-color: #282828;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
}

.elementor-109 .elementor-element.elementor-element-1010244 .rt-features-list-content ul li .icon svg {
    fill: #FFFFFF;
}

.elementor-109 .elementor-element.elementor-element-1010244 .rt-features-list .icon svg {
    width: 16px;
    height: 16px;
}

.elementor-109 .elementor-element.elementor-element-1010244 .rt-features-list .icon i {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.elementor-109 .elementor-element.elementor-element-1010244 .rt-features-list-content ul li .icon {
    padding: 0px 15px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-1010244 {
    width: auto;
    max-width: auto;
}

.elementor-109 .elementor-element.elementor-element-1010244>.elementor-widget-container {
    border-style: none;
}

.elementor-109 .elementor-element.elementor-element-7858a01 .rt-features-list-content ul li .sub-text {
    padding: 0px 0px 05px 0px;
}

.elementor-109 .elementor-element.elementor-element-7858a01 .rt-features-list-content ul li .text-heading {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.elementor-109 .elementor-element.elementor-element-7858a01 .rt-features-list-content ul li .text-heading:hover {
    color: #d84d1b;
}

.elementor-109 .elementor-element.elementor-element-7858a01 .rt-features-list-content ul {
    justify-content: left;
}

.elementor-109 .elementor-element.elementor-element-7858a01 .rt-features-list-content ul li .icon i {
    color: #FFFFFF;
    background-color: #282828;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
}

.elementor-109 .elementor-element.elementor-element-7858a01 .rt-features-list-content ul li .icon svg {
    fill: #FFFFFF;
}

.elementor-109 .elementor-element.elementor-element-7858a01 .rt-features-list .icon svg {
    width: 16px;
    height: 16px;
}

.elementor-109 .elementor-element.elementor-element-7858a01 .rt-features-list .icon i {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.elementor-109 .elementor-element.elementor-element-7858a01 .rt-features-list-content ul li .icon {
    padding: 0px 15px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-7858a01 {
    width: auto;
    max-width: auto;
}

.elementor-109 .elementor-element.elementor-element-7858a01>.elementor-widget-container {
    border-style: none;
}

.elementor-109 .elementor-element.elementor-element-d653f21>.elementor-container {
    max-width: 1335px;
}

.elementor-109 .elementor-element.elementor-element-d653f21:not(.elementor-motion-effects-element-type-background),
.elementor-109 .elementor-element.elementor-element-d653f21>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2023/04/handyman_footer_bg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-109 .elementor-element.elementor-element-d653f21 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -45px;
    margin-bottom: 0px;
    padding: 130px 0px 70px 0px;
}

.elementor-109 .elementor-element.elementor-element-d653f21>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-109 .elementor-element.elementor-element-149bf9a>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-d0d5bf7>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-109 .elementor-element.elementor-element-d0d5bf7 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.elementor-109 .elementor-element.elementor-element-de9090e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-c214119 .react-heading .title-inner .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-c214119>.elementor-widget-container {
    margin: 0px 0px -22px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-885a952>.elementor-widget-container {
    margin: 0px 0px -15px 0px;
    padding: 20px 141px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-d058bd3 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 13px;
    --grid-column-gap: 10px;
}

.elementor-109 .elementor-element.elementor-element-d058bd3 .elementor-widget-container {
    text-align: left;
}

.elementor-109 .elementor-element.elementor-element-d058bd3 .elementor-social-icon {
    background-color: #222224;
    --icon-padding: 1em;
    border-style: none;
}

.elementor-109 .elementor-element.elementor-element-d058bd3 .elementor-social-icon:hover {
    background-color: #d84d1b;
}

.elementor-109 .elementor-element.elementor-element-d058bd3>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-dadadf0>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-4c66aa8 .react-heading .title-inner .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-4c66aa8>.elementor-widget-container {
    margin: 0px 0px -22px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-80710c2 .menu-area {
    text-align: left;
}

.elementor-109 .elementor-element.elementor-element-80710c2 .menu-area .navbar ul>li {
    padding-left: 1px;
    padding-right: 1px;
}

.elementor-109 .elementor-element.elementor-element-80710c2 .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 1px + 20px);
    padding-right: 1px;
}

.elementor-109 .elementor-element.elementor-element-80710c2 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 1px + 40px);
    padding-right: 1px;
}

.elementor-109 .elementor-element.elementor-element-80710c2 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 1px + 60px);
    padding-right: 1px;
}

.elementor-109 .elementor-element.elementor-element-80710c2 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 1px + 80px);
    padding-right: 1px;
}

.elementor-109 .elementor-element.elementor-element-80710c2 .menu-area .navbar ul.menu>li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.elementor-109 .elementor-element.elementor-element-80710c2 .menu-area .navbar ul li a {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
    color: #74787C;
}

.elementor-109 .elementor-element.elementor-element-80710c2 .menu-area .navbar ul>li.menu-item-has-children>a:before {
    color: #74787C;
}

.elementor-109 .elementor-element.elementor-element-80710c2 .menu-area .navbar ul li:hover>a,
.elementor-109 .elementor-element.elementor-element-80710c2 .menu-area .navbar ul>li.menu-item-has-children:hover>a:before,
.elementor-109 .elementor-element.elementor-element-80710c2 .menu-area .navbar ul li.current-menu-item a {
    color: #d84d1b;
}

.elementor-109 .elementor-element.elementor-element-80710c2 .menu-area .navbar ul li ul.sub-menu li a,
.elementor-109 .elementor-element.elementor-element-80710c2 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-109 .elementor-element.elementor-element-80710c2 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-109 .elementor-element.elementor-element-80710c2 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-109 .elementor-element.elementor-element-80710c2 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-109 .elementor-element.elementor-element-80710c2 .sub-menu li.menu-item:not(:last-child) {
    border-bottom-style: solid;
}

.elementor-109 .elementor-element.elementor-element-80710c2 .sub-menu li.menu-item:not(:last-child),
.elementor-109 .elementor-element.elementor-element-80710c2 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-109 .elementor-element.elementor-element-80710c2 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

.elementor-109 .elementor-element.elementor-element-80710c2>.elementor-widget-container {
    margin: 15px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-07128d5>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-418f367 .react-heading .title-inner .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-418f367>.elementor-widget-container {
    margin: 0px 0px -22px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-64352a4 .menu-area {
    text-align: left;
}

.elementor-109 .elementor-element.elementor-element-64352a4 .menu-area .navbar ul>li {
    padding-left: 1px;
    padding-right: 1px;
}

.elementor-109 .elementor-element.elementor-element-64352a4 .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 1px + 20px);
    padding-right: 1px;
}

.elementor-109 .elementor-element.elementor-element-64352a4 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 1px + 40px);
    padding-right: 1px;
}

.elementor-109 .elementor-element.elementor-element-64352a4 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 1px + 60px);
    padding-right: 1px;
}

.elementor-109 .elementor-element.elementor-element-64352a4 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 1px + 80px);
    padding-right: 1px;
}

.elementor-109 .elementor-element.elementor-element-64352a4 .menu-area .navbar ul.menu>li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.elementor-109 .elementor-element.elementor-element-64352a4 .menu-area .navbar ul li a {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
    color: #74787C;
}

.elementor-109 .elementor-element.elementor-element-64352a4 .menu-area .navbar ul>li.menu-item-has-children>a:before {
    color: #74787C;
}

.elementor-109 .elementor-element.elementor-element-64352a4 .menu-area .navbar ul li:hover>a,
.elementor-109 .elementor-element.elementor-element-64352a4 .menu-area .navbar ul>li.menu-item-has-children:hover>a:before,
.elementor-109 .elementor-element.elementor-element-64352a4 .menu-area .navbar ul li.current-menu-item a {
    color: #d84d1b;
}

.elementor-109 .elementor-element.elementor-element-64352a4 .menu-area .navbar ul li ul.sub-menu li a,
.elementor-109 .elementor-element.elementor-element-64352a4 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-109 .elementor-element.elementor-element-64352a4 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-109 .elementor-element.elementor-element-64352a4 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-109 .elementor-element.elementor-element-64352a4 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-109 .elementor-element.elementor-element-64352a4 .sub-menu li.menu-item:not(:last-child) {
    border-bottom-style: solid;
}

.elementor-109 .elementor-element.elementor-element-64352a4 .sub-menu li.menu-item:not(:last-child),
.elementor-109 .elementor-element.elementor-element-64352a4 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-109 .elementor-element.elementor-element-64352a4 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

.elementor-109 .elementor-element.elementor-element-64352a4>.elementor-widget-container {
    margin: 15px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-0f7b577>.elementor-element-populated {
    text-align: justify;
    padding: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-f06b94f .react-heading .title-inner .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-f06b94f>.elementor-widget-container {
    margin: 0px 0px -22px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-8e8cdaa .gallery-item {
    padding: 0 10px 10px 0;
}

.elementor-109 .elementor-element.elementor-element-8e8cdaa .gallery {
    margin: 0 -10px -10px 0;
}

.elementor-109 .elementor-element.elementor-element-8e8cdaa .gallery-item img {
    border-radius: 7px 7px 7px 7px;
}

.elementor-109 .elementor-element.elementor-element-8e8cdaa .gallery-item .gallery-caption {
    text-align: center;
}

.elementor-109 .elementor-element.elementor-element-8e8cdaa>.elementor-widget-container {
    margin: 28px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-cc745a0>.elementor-container {
    max-width: 1330px;
}

.elementor-109 .elementor-element.elementor-element-cc745a0:not(.elementor-motion-effects-element-type-background),
.elementor-109 .elementor-element.elementor-element-cc745a0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1C1C1C;
}

.elementor-109 .elementor-element.elementor-element-cc745a0 {
    border-style: none;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-cc745a0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-109 .elementor-element.elementor-element-8241316.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-109 .elementor-element.elementor-element-8241316.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-109 .elementor-element.elementor-element-8241316.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-109 .elementor-element.elementor-element-8241316>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-109 .elementor-element.elementor-element-9354360 .react-copyright {
    text-align: center;
}

.elementor-109 .elementor-element.elementor-element-9354360 .react-copyright .description a {
    color: #74787C;
}

.elementor-109 .elementor-element.elementor-element-9354360 .react-copyright .description p a {
    color: #74787C;
}

.elementor-109 .elementor-element.elementor-element-9354360 .react-copyright .description a:hover {
    color: #d84d1b;
}

.elementor-109 .elementor-element.elementor-element-9354360>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 40px 0px 15px 0px;
}

@media(min-width:768px) {
    .elementor-109 .elementor-element.elementor-element-74c77bb {
        width: 24%;
    }
    .elementor-109 .elementor-element.elementor-element-66b4c68 {
        width: 76%;
    }
    .elementor-109 .elementor-element.elementor-element-de9090e {
        width: 31%;
    }
    .elementor-109 .elementor-element.elementor-element-dadadf0 {
        width: 24%;
    }
    .elementor-109 .elementor-element.elementor-element-07128d5 {
        width: 25%;
    }
    .elementor-109 .elementor-element.elementor-element-0f7b577 {
        width: 20%;
    }
}

@media(max-width:1200px) and (min-width:768px) {
    .elementor-109 .elementor-element.elementor-element-74c77bb {
        width: 20%;
    }
    .elementor-109 .elementor-element.elementor-element-66b4c68 {
        width: 80%;
    }
    .elementor-109 .elementor-element.elementor-element-de9090e {
        width: 31%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-109 .elementor-element.elementor-element-de9090e {
        width: 28%;
    }
    .elementor-109 .elementor-element.elementor-element-dadadf0 {
        width: 22%;
    }
    .elementor-109 .elementor-element.elementor-element-0f7b577 {
        width: 25%;
    }
}

@media(max-width:880px) and (min-width:768px) {
    .elementor-109 .elementor-element.elementor-element-74c77bb {
        width: 100%;
    }
    .elementor-109 .elementor-element.elementor-element-66b4c68 {
        width: 100%;
    }
    .elementor-109 .elementor-element.elementor-element-de9090e {
        width: 50%;
    }
    .elementor-109 .elementor-element.elementor-element-dadadf0 {
        width: 49%;
    }
    .elementor-109 .elementor-element.elementor-element-07128d5 {
        width: 49%;
    }
    .elementor-109 .elementor-element.elementor-element-0f7b577 {
        width: 50%;
    }
}

@media(max-width:1366px) {
    .elementor-109 .elementor-element.elementor-element-e29145a>.elementor-container {
        max-width: 1150px;
    }
    .elementor-109 .elementor-element.elementor-element-d653f21>.elementor-container {
        max-width: 1150px;
    }
    .elementor-109 .elementor-element.elementor-element-d0d5bf7 {
        padding: 0px 10px 0px 10px;
    }
    .elementor-109 .elementor-element.elementor-element-885a952>.elementor-widget-container {
        padding: 20px 80px 0px 0px;
    }
}

@media(max-width:1200px) {
    .elementor-109 .elementor-element.elementor-element-e29145a>.elementor-container {
        max-width: 950px;
    }
    .elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-element-populated {
        padding: 0px 5px 0px 10px;
    }
    .elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-element-populated {
        padding: 0px 20px 0px 20px;
    }
    .elementor-109 .elementor-element.elementor-element-13e7f64 .rt-features-list-content ul li .text-heading {
        font-size: 16px;
        line-height: 20px;
    }
    .elementor-109 .elementor-element.elementor-element-13e7f64>.elementor-widget-container {
        padding: 30px 10px 30px 10px;
    }
    .elementor-109 .elementor-element.elementor-element-1010244 .rt-features-list-content ul li .text-heading {
        font-size: 16px;
        line-height: 20px;
    }
    .elementor-109 .elementor-element.elementor-element-1010244>.elementor-widget-container {
        padding: 30px 10px 30px 10px;
    }
    .elementor-109 .elementor-element.elementor-element-7858a01 .rt-features-list-content ul li .text-heading {
        font-size: 16px;
        line-height: 20px;
    }
    .elementor-109 .elementor-element.elementor-element-7858a01>.elementor-widget-container {
        padding: 30px 10px 30px 10px;
    }
    .elementor-109 .elementor-element.elementor-element-d653f21>.elementor-container {
        max-width: 950px;
    }
    .elementor-109 .elementor-element.elementor-element-885a952>.elementor-widget-container {
        padding: 20px 20px 0px 0px;
    }
}

@media(max-width:1024px) {
    .elementor-109 .elementor-element.elementor-element-e29145a>.elementor-container {
        max-width: 850px;
    }
    .elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-element-populated {
        padding: 0px 5px 0px 5px;
    }
    .elementor-109 .elementor-element.elementor-element-d653f21>.elementor-container {
        max-width: 850px;
    }
    .elementor-109 .elementor-element.elementor-element-9354360>.elementor-widget-container {
        padding: 25px 0px 0px 0px;
    }
}

@media(max-width:880px) {
    .elementor-109 .elementor-element.elementor-element-e29145a>.elementor-container {
        max-width: 720px;
    }
    .elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-element-populated,
    .elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-element-populated>.elementor-background-overlay,
    .elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-background-slideshow {
        border-radius: 10px 10px 0px 0px;
    }
    .elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-element-populated {
        padding: 15px 0px 15px 0px;
    }
    .elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-element-populated,
    .elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-element-populated>.elementor-background-overlay,
    .elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-background-slideshow {
        border-radius: 0px 0px 10px 10px;
    }
    .elementor-109 .elementor-element.elementor-element-d653f21>.elementor-container {
        max-width: 720px;
    }
    .elementor-109 .elementor-element.elementor-element-0f7b577>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-109 .elementor-element.elementor-element-9354360>.elementor-widget-container {
        padding: 25px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-element-populated,
    .elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-element-populated>.elementor-background-overlay,
    .elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-background-slideshow {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-109 .elementor-element.elementor-element-74c77bb>.elementor-element-populated {
        padding: 20px 10px 20px 10px;
    }
    .elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-element-populated,
    .elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-element-populated>.elementor-background-overlay,
    .elementor-109 .elementor-element.elementor-element-66b4c68>.elementor-background-slideshow {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-109 .elementor-element.elementor-element-d653f21:not(.elementor-motion-effects-element-type-background),
    .elementor-109 .elementor-element.elementor-element-d653f21>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .elementor-109 .elementor-element.elementor-element-d653f21 {
        padding: 80px 0px 0px 0px;
    }
    .elementor-109 .elementor-element.elementor-element-885a952>.elementor-widget-container {
        padding: 20px 0px 0px 0px;
    }
    .elementor-109 .elementor-element.elementor-element-dadadf0>.elementor-element-populated {
        padding: 20px 0px 0px 0px;
    }
    .elementor-109 .elementor-element.elementor-element-07128d5>.elementor-element-populated {
        padding: 20px 0px 0px 0px;
    }
    .elementor-109 .elementor-element.elementor-element-0f7b577>.elementor-element-populated {
        padding: 0px 0px 0px 10px;
    }
}